@import '../../colors.scss';




header {
  position: absolute;
  z-index: 99;
  width: 100%;
}
.navbar {
  padding-top: 4rem;

font-family: Roboto;
font-weight: 300;
font-size: 30px;
line-height: 35px;

  img {
    width: 60px !important;
    height: auto;
  }
  li a {
    text-align: center;
    font-size: 25px;
    color: $color-md-gray;
  }
}

.nav-item .active:after {
  content: "\25CF";
  line-height: 5px;
  display: block;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  color: $color-green !important;
}

.nav-item .active {
  font-weight: normal;
  color: $color-gray !important;
}

.nav-item {
min-width: 100px;
}










@media (min-width: 991.99px) {
  .navbar {
    width: 75%!important;
  }

}

@media (max-width: 991.98px) {
    .navbar {
      width: 100%;

    }
}





