<div [@fadeAnimation]="animation ? '' : ''" class="content">
  <div class="container w-75">
    <div class="row info">
      <div class="col-12 text-center">
        <h1>Let’t talk.</h1>
        <p style="padding: 1rem 20% 0 20%">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis
          augue, porttitor nec sem quis.
        </p>
        <div class="pt-4">

        <a class="btn btn-primary" href="contact" style="margin-right: 1rem">
          Linkedin
        </a>
</div>
        <div class="pt-2">
          <a class="navlink" href="about">
            itselfcg@gmail.com<i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
