<div [@fadeInAnimation] *ngIf="animation">
  <div *ngIf="isLoading" [@fadeOutAnimation]>
    <loading-app-state></loading-app-state>
  </div>
  <div class="content" *ngIf="!isLoading" [@fadeInAnimation]>
    <div class="container w-75" *ngIf="projects.length > 0; else noResults">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col text-center">
              <h1>{{ "work.title" | translate }}</h1>

              <p style="padding: 1rem 20% 0 20%">
                {{ "work.description" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="filters">
          <button
            class="btn btn-filter"
            (click)="selectFilter(filter)"
            *ngFor="let filter of filters"
            [class.active]="isFilterActive(filter)"
          >
            {{ filter }}
          </button>
        </div>

        <div class="results">
          <div class="row">
            <div
              class="col-lg-3 col-md-4 col-sm-6 col-6"
              *ngFor="let project of projects | projectsFilter: filtersSelected"
            >
              <div class="result" *ngIf="project.active">
                <div class="card-project">
                  <mdb-carousel
                    class="carousel slide carousel-fade"
                    [animation]="'fade'"
                  >
                    <mdb-carousel-item *ngFor="let picture of project.pictures">
                      <div class="view w-100">
                        <img
                          class="d-block w-100"
                          src="{{ picture.url }}"
                          alt="{{ picture.description }}"
                        />
                      </div>
                    </mdb-carousel-item>
                  </mdb-carousel>
                  <h4>{{ project.title }}</h4>
                  <button
                    *ngFor="let label of project.labels"
                    class="btn btn-filter-small"
                  >
                    {{ label }}
                  </button>
                  <p class="description">
                    {{ project.content }}
                  </p>
                </div>
                <div class="card-project-actions">

                  <a
                    class="btn btn-primary" *ngIf="project.details"
                    [routerLink]="['/case-study/' + project._id]"
                  >
                    <i class="fas fa-plus"></i> {{ "nav.readmore" | translate }}
                  </a>
                  <a class="btn btn-primary" *ngIf="project.preview_url != ''">
                    <i class="fas fa-eye"></i> {{ "nav.view" | translate }}
                  </a>
                  <a class="btn btn-secondary" *ngIf="project.git_url != ''">
                    <i class="fas fa-code-branch"></i> Git repo
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noResults>
      <div class="text-center">
        <h1>{{ "work.title" | translate }}</h1>

        <div style="padding: 1rem 20% 0 20%">
          <h3>{{ "work.error" | translate }}</h3>
        </div>
      </div>
    </ng-template>
  </div>
</div>
