@import '../colors.scss';

.info {
  padding-top: 14rem;
  text-align: center;
}

h1 {
  color: $color-green;
}


.filters button {
  margin: 10px;
}

.btn-filter,
.btn-filter-small {
  background-color: $color-xs-gray;
  border-radius: 16px;
  color: $color-gray;
  text-align: center;
}

.btn-filter {
  height: 32 !important;
  min-width: 70px !important;
  letter-spacing: 0.25px;
  font-size: 12px;
}

.btn-filter-small {
  height: 25 !important;
  min-width: 50px !important;
  font-size: 10px;
}

.btn-filter:click {
  background-color: $color-gray;
  color: $color-white;
}

.results {
  padding-top: 1rem;
  p {
    font-size: 12px;
    color: $color-lg-gray;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  h4,p{
    padding-top: .5rem;
  }
}
