@import "../../colors.scss";
$space: 2px;
$small: 1;
$medium: 4;
$large: 8;

.btn-primary,
.btn-secondary {
  height: auto;
  font-size: 11px;
  font-weight: normal;
  width: auto;
  margin: ($space * $small) ($space * $small) ($space * $small) 0;
}

.results {
  padding-top: 2em;
  p {
    font-size: 13px;
    color: $color-lg-gray;
  }

  img {
    width: 100%;
    height: auto;
  }

  h5,
  p {
    padding-top: 1rem;
  }

  mdb-carousel-item {
    border-radius: 10px;
  }
}

.active {
  background-color: $color-md-gray;
}

.result {
  height: 100% !important;
  padding: 1rem 0 2rem 0;
}
.card-project {
  height: 90% !important;
}
