@import '../../colors.scss';


.loading {
  z-index: 999;
  min-height: 100vh;
  background-color: $color-green;
  //background-color: transparent;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
