@import "./colors.scss";

.info {
  padding-top: 14rem;
}

header{
  position: absolute;
  z-index: 999;
  width: 100%;
}
.navbar {

  padding-top: 4rem;
  img {
    width: 60px !important;
    height: auto;
  }
  li a {
    width: 100px;
    text-align: center;
    font-size: 25px;
    color: $color-md-gray;
  }
}

h1 {
  color: $color-green;
  font-style: normal;
  font-weight: bold;
  font-size: 65px;
  line-height: 55px;
}

h2 {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 26px;

  color: $color-green;
}

h3 {
  color: $color-md-gray;
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $color-gray;
}

p {
  color: $color-lg-gray;
  font-size: 18px;
}

a.navlink {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: $color-gray;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: $color-green !important;
  color: $color-white !important;
}

.btn-primary {
  color: $color-white !important;
  background-color: $color-green !important;
  width: 100px;
  border-radius: 10px;
  font-size: 16px !important;
}

.nav-item .active:after {
  width: 90px;

  position: absolute;
  content: "\25CF";
  line-height: 5px;
  display: block;
  opacity:1;


  margin-left: auto;
  margin-right: auto;

  color: $color-green !important;

}

.nav-item .active {
  font-weight: normal;
  color: $color-gray !important;

}
