 ul{
  background-color: yellow;
  padding: 20px;
  display: inline-flex;
  justify-content: center;

}

li{
  list-style: none;
  background-color: gray;
  padding: 10px;
  margin:10px;
  width: 200px;
}

