<div [@fadeAnimation]="animation ? '' : ''" class="content">
  <div class="container w-75">
    <div class="info">
      <a class="navlink" [routerLink]="['/work']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to Projects</a
      >

      <div class="row pt-4">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <h1>Lorem ipsum dolor sit amet.</h1>
              <button class="btn btn-filter">Ux</button>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <h4>Lorem ipsum dolor sit amet</h4>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                felis augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Morbi felis augue, porttitor nec
                sem quis.
              </p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <div class="row">
                <div class="col">
                  <h2>Rol</h2>
                  <p>Lorem ipsum</p>
                </div>
                <div class="col">
                  <h2>Duration</h2>
                  <p>Lorem ipsum</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <img class="img-fluid" src="../../assets/img/picture.jpg" />
            </div>
          </div>
        </div>
      </div>

      <section id="vision-chall" class="row">
        <div class="col-md-6 col-sm-12">
          <h2>Project Vision</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis
            augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi felis augue, porttitor nec sem
            quis.
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>Challenges</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis
            augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi felis augue, porttitor nec sem
            quis.
          </p>
        </div>
      </section>

      <section id="start" class="row">
        <div class="col-md-6 col-sm-12 order-1 order-sm-0">
          <img class="img-fluid" src="../../assets/img/picture.jpg" alt=""/>
        </div>
        <div class="col-md-6 col-sm-12 order-0 order-sm-1">
          <h2>Starting point</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis
            augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi felis augue, porttitor nec sem
            quis.
          </p>
        </div>
      </section>

      <section id="users" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>Meet the users</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                felis augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Morbi felis augue, porttitor nec
                sem quis.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12 mx-auto">
              <div class="row">
                <div class="col-5">
                  <img
                    class="img-fluid"
                    src="../../assets/img/picture.jpg"
                    alt=""
                  />
                </div>
                <div class="col-5">
                  <p>
                    <b>Name:</b> Lorem ipsum<br />
                    <b>Age:</b> ##<br />
                    <b>Occupation:</b> Lorem ipsum
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi felis augue, porttitor nec sem quis. Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit. Morbi felis augue,
                    porttitor nec sem quis.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <section id="ideation" class="row">
        <div class="col-md-6 col-sm-12">
          <h2>Ideation</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis
            augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi felis augue, porttitor nec sem
            quis.
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img class="img-fluid" src="../../assets/img/picture.jpg" alt=""/>
        </div>
      </section>

      <section id="site-map" class="row">
        <div class="col-md-6 col-sm-12 order-1 order-sm-0">
          <img class="img-fluid" src="../../assets/img/picture.jpg" alt=""/>
        </div>
        <div class="col-md-6 col-sm-12 order-0 order-sm-1">
          <h2>Site map</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis
            augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Morbi felis augue, porttitor nec sem
            quis.
          </p>
        </div>
      </section>

      <section id="usability-study"  class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>Usability Study</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                felis augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Morbi felis augue, porttitor nec
                sem quis.
              </p>
            </div>
          </div>
          <div class="row" style="padding-top: 4em">
            <div class="col-md-6 col-sm-12">
              <div class="row">
                <div class="col-4 text-center">
                  <i class="fa fa-question fa-5x"></i>
                </div>
                <div class="col-8">
                  <h5>Lorem ipsum dolor sit</h5>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Morbi felis augue,
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>
      <section id="mockups" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>Mockups</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                felis augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Morbi felis augue, porttitor nec
                sem quis.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <img
                class="img-fluid"
                src="../../assets/img/picture.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <section id="hi-prototype" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>High-fidelity prototype</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                felis augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Morbi felis augue, porttitor nec
                sem quis.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <img
                class="img-fluid"
                src="../../assets/img/picture.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      <section id="style-guide" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>Style guide</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
                felis augue, porttitor nec sem quis. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Morbi felis augue, porttitor nec
                sem quis.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <img
                class="img-fluid"
                src="../../assets/img/picture.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
