@import "../colors.scss";


section {
  padding: 4em 0 4em 0;
}

img {
  border-radius: 20px;
}

i {
  color: $color-green;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 50px;
}

h2 {
  margin: 1em 0 1em 0;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: $color-gray;
}

h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: $color-gray;
}

.mockup{
  max-height: 400px;
  width: auto;
max-width: 100%;
}

.pictures{
  padding-top: 1rem;
}

li {
  color: $color-md-gray;
  font-weight: 400;

}

span {
  color: $color-lg-gray;
  font-size: 16px;
  font-weight: 300;
}

.img-fluid{
  max-width: 600px;
  width: 100%;
  height: auto;
}

