<div [@fadeInAnimation]="animation ? '' : ''">
  <div *ngIf="isLoading" [@fadeOutAnimation]>
    <loading-app-state></loading-app-state>
  </div>
  <div class="content" *ngIf="!isLoading" >
    <div
      class="container w-75"
      *ngIf="caseStudy.sections != null && !isLoading"
    >
      <a class="navlink" [routerLink]="['/work']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        {{ "actions.return" | translate }}</a
      >

      <div class="row pt-4">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <h1>{{ caseStudy.project.name }}</h1>
              <button
                class="btn btn-filter"
                *ngFor="let label of caseStudy.project.labels"
              >
                {{ label }}
              </button>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <h4>{{ caseStudy.title }}</h4>

              <p>
                {{ caseStudy.content }}
              </p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <div class="row">
                <div class="col">
                  <h2>{{ caseStudy.sections.rol.title }}</h2>
                  <p>{{ caseStudy.sections.rol.content }}</p>
                </div>
                <div class="col">
                  <h2>{{ caseStudy.sections.duration.title }}</h2>
                  <p>{{ caseStudy.sections.duration.content }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <mdb-carousel
                class="carousel slide carousel-fade"
                [animation]="'fade'"
              >
                <mdb-carousel-item *ngFor="let picture of caseStudy.pictures">
                  <div class="view w-100">
                    <img
                      class="d-block w-100"
                      src="{{ picture.url }}"
                      alt="{{ picture.description }}"
                    />
                  </div>
                </mdb-carousel-item>
              </mdb-carousel>
            </div>
          </div>
        </div>
      </div>

      <section id="vision-chall" class="row">
        <div class="col-md-6 col-sm-12">
          <h2>{{ caseStudy.sections.vision.title }}</h2>
          <p>
            {{ caseStudy.sections.vision.content }}
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>{{ caseStudy.sections.challenges.title }}</h2>
          <ul>
            <li *ngFor="let item of caseStudy.sections.challenges.list">
              <span>
                {{ item }}
              </span>
            </li>
          </ul>
        </div>
      </section>

      <section id="start" class="row">
        <div
          class="col-md col-sm-12 order-1 order-sm-0 text-center"
          *ngIf="caseStudy.sections.start.pictures.length > 0"
        >
          <img
            class="img-fluid"
            src="{{ caseStudy.sections.start.pictures[0].url }}"
            alt="{{ caseStudy.sections.start.pictures[0].description }}"
          />
        </div>
        <div class="col-md col-sm-12 order-0 order-sm-1">
          <h2>{{ caseStudy.sections.start.title }}</h2>
          <p>
            {{ caseStudy.sections.start.content }}
          </p>

          <ol>
            <li *ngFor="let item of caseStudy.sections.start.list">
              <span>
                {{ item }}
              </span>
            </li>
          </ol>
        </div>
      </section>

      <section id="users" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>{{ caseStudy.sections.user.title }}</h2>
              <p>
                {{ caseStudy.sections.user.content }}
              </p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-6 col-sm-12 mx-auto"
              *ngFor="let user of caseStudy.users"
            >
              <div class="row">
                <div class="col-5">
                  <img
                    class="w-100"
                    src="{{ user.picture.url }}"
                    alt="{{ user.picture.description }}"
                  />
                </div>
                <div class="col-5">
                  <p>
                    <b>Name:</b> {{ user.name }}<br />
                    <b>Age:</b> {{ user.age }}<br />
                    <b>Occupation:</b> {{ user.occupation }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    {{ user.story }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="ideation" class="row">
        <div
          *ngIf="caseStudy.sections.ideation.content"
          class="col-md-6 col-sm-12"
        >
          <h2>{{ caseStudy.sections.ideation.title }}</h2>
          <p>
            {{ caseStudy.sections.ideation.content }}
          </p>
        </div>
        <div
          class="col-md-6 col-sm-12"
          *ngIf="caseStudy.sections.ideation.pictures.length > 0"
        >
          <img
            class="img-fluid"
            src="{{ caseStudy.sections.ideation.pictures[0].url }}"
            alt="{{ caseStudy.sections.ideation.pictures[0].description }}"
          />
        </div>
        <div
          class="col-md-6 col-sm-12 order-1 order-sm-0"
          *ngIf="caseStudy.sections.sitemap.pictures.length > 0"
        >
          <img
            class="img-fluid"
            src="{{ caseStudy.sections.sitemap.pictures[0].url }}"
            alt="{{ caseStudy.sections.sitemap.pictures[0].description }}"
          />
        </div>
        <div
          *ngIf="caseStudy.sections.sitemap.content"
          class="col-md-6 col-sm-12 order-0 order-sm-1"
        >
          <h2>{{ caseStudy.sections.sitemap.title }}</h2>
          <p>
            {{ caseStudy.sections.sitemap.content }}
          </p>
        </div>

        <div
          class="col-md-6 col-sm-12 order-1 order-sm-0"
          *ngIf="caseStudy.sections.journey.pictures.length > 0"
        >
          <img
            class="img-fluid"
            src="{{ caseStudy.sections.journey.pictures[0].url }}"
            alt="{{ caseStudy.sections.journey.pictures[0].description }}"
          />
        </div>
        <div
          *ngIf="caseStudy.sections.journey.content"
          class="col-md-6 col-sm-12 order-0 order-sm-1"
        >
          <h2>{{ caseStudy.sections.journey.title }}</h2>
          <p>
            {{ caseStudy.sections.journey.content }}
          </p>
        </div>
      </section>

      <section id="wireframes" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>{{ caseStudy.sections.wireframes.title }}</h2>
              <p>
                {{ caseStudy.sections.wireframes.content }}
              </p>
            </div>
          </div>

          <div
            class="row"
            *ngFor="let picture of caseStudy.sections.wireframes.pictures"
          >
            <div class="col text-center pictures">
              <img
                class="img-fluid"
                src="{{ picture.url }}"
                alt="{{ picture.description }}"
              />
            </div>
          </div>
        </div>
      </section>

      <section id="usability-study" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>{{ caseStudy.sections.usabilityStudy.title }}</h2>
              <p>
                {{ caseStudy.sections.usabilityStudy.content }}
              </p>
            </div>
          </div>
          <div class="row" style="padding-top: 4em">
            <div
              class="col-md-6 col-sm-12 mt-3"
              *ngFor="let insight of caseStudy.insights"
            >
              <div class="row">
                <div class="col-4 text-center">
                  <i class="{{ insight.icon }} fa-5x"></i>
                </div>
                <div class="col-8">
                  <h5>{{ insight.title }}</h5>
                  <p>
                    {{ insight.content }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div
            class="row"
            *ngFor="let picture of caseStudy.sections.usabilityStudy.pictures"
          >
            <div class="col text-center pictures">
              <img
                class="img-fluid"
                src="{{ picture.url }}"
                alt="{{ picture.description }}"
              />
            </div>
          </div>
        </div>
      </section>
      <section id="mockups" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>{{ caseStudy.sections.mockups.title }}</h2>
              <p>
                {{ caseStudy.sections.mockups.content }}
              </p>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let picture of caseStudy.sections.mockups.pictures"
          >
            <div class="col text-center pictures">
              <img
                class="img-fluid"
                src="{{ picture.url }}"
                alt="{{ picture.description }}"
              />
            </div>
          </div>
        </div>
      </section>
      <section id="hi-prototype" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>{{ caseStudy.sections.prototypes.title }}</h2>
              <p>
                {{ caseStudy.sections.prototypes.content }}
              </p>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let picture of caseStudy.sections.prototypes.pictures"
          >
            <div class="col text-center pictures">
              <img
                class="mockup"
                src="{{ picture.url }}"
                alt="{{ picture.description }}"
              />
            </div>
          </div>
        </div>
      </section>

      <section
        id="accessibility"
        class="row"
        *ngIf="caseStudy.sections.accessibility"
      >
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>{{ caseStudy.sections.accessibility.title }}</h2>
              <p>
                {{ caseStudy.sections.accessibility.content }}
              </p>
            </div>
          </div>
        </div>
      </section>

      <section id="style-guide" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>{{ caseStudy.sections.styleGuide.title }}</h2>
              <p>
                {{ caseStudy.sections.styleGuide.content }}
              </p>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let picture of caseStudy.sections.styleGuide.pictures"
          >
            <div class="col text-center pictures">
              <img
                class="img-fluid"
                src="{{ picture.url }}"
                alt="{{ picture.description }}"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
