<div [@fadeAnimation]="animation ? '' : ''" class="content">
  <div class="container w-75">
    <div class="info">
      <a class="navlink" [routerLink]="['/work']">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back to Projects</a
      >

      <div class="row pt-4">
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <h1>{{ caseStudy.name }}</h1>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <h4>{{ caseStudy.title }}</h4>

              <p>
                {{ caseStudy.summary }}
              </p>
            </div>
          </div>
          <div class="row pt-3">
            <div class="col">
              <div class="row">
                <div class="col">
                  <h2>Rol</h2>
                  <p>{{ caseStudy.rol }}</p>
                </div>
                <div class="col">
                  <h2>Duration</h2>
                  <p>{{ caseStudy.duration }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="row">
            <div class="col">
              <mdb-carousel
                class="carousel slide carousel-fade"
                [animation]="'fade'"
              >
                <mdb-carousel-item *ngFor="let picture of caseStudy.pictures">
                  <div class="view w-100">
                    <img
                      class="d-block w-100"
                      src="{{ picture.url }}"
                      alt="{{ picture.description }}"
                    />
                  </div>
                </mdb-carousel-item>
              </mdb-carousel>
            </div>
          </div>
        </div>
      </div>

      <section id="vision-chall" class="row">
        <div class="col-md-6 col-sm-12">
          <h2>Project Vision</h2>
          <p>
            {{ caseStudy.sections[0].description }}
          </p>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2>Challenges</h2>
          <p>
            {{ caseStudy.sections[1].description }}
          </p>
        </div>
      </section>

      <section id="start" class="row">
        <div
          class="col-md col-sm-12 order-1 order-sm-0"
          *ngIf="caseStudy.sections[2].pictures[0].url !== ''"
        >
          <img
            class="img-fluid"
            src="{{ caseStudy.sections[2].pictures[0].url }}"
            alt="{{ caseStudy.sections[2].pictures[0].description }}"
          />
        </div>
        <div class="col-md col-sm-12 order-0 order-sm-1">
          <h2>Starting point</h2>
          <p>
            {{ caseStudy.sections[2].description }}
          </p>
        </div>
      </section>

      <section id="users" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>Meet the users</h2>
              <p>
                {{ caseStudy.sections[3].description }}
              </p>
            </div>
          </div>
          <div class="row">
            <div
              class="col-md-6 col-sm-12 mx-auto"
              *ngFor="let user of caseStudy.users"
            >
              <div class="row">
                <div class="col-5">
                  <img
                    class="img-fluid"
                    src="{{ user.pictures.url }}"
                    alt="{{ user.pictures.description }}"
                  />
                </div>
                <div class="col-5">
                  <p>
                    <b>Name:</b> {{ user.name }}<br />
                    <b>Age:</b> {{ user.age }}<br />
                    <b>Occupation:</b> {{ user.occupation }}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <p>
                    {{ caseStudy.sections[4].description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        id="ideation"
        class="row"
        *ngIf="caseStudy.sections[5].description !== ''"
      >
        <div class="col-md col-sm-12">
          <h2>Ideation</h2>
          <p>
            {{ caseStudy.sections[5].description }}
          </p>
        </div>
        <div
          class="col-md col-sm-12"
          *ngIf="caseStudy.sections[5].pictures[0].url !== ''"
        >
          <img
            class="img-fluid"
            src="{{ caseStudy.sections[5].pictures[0].url }}"
            alt="{{ caseStudy.sections[5].pictures[0].description }}"
          />
        </div>
      </section>

      <section
        id="site-map"
        class="row"
        *ngIf="caseStudy.sections[6].description !== ''"
      >
        <div
          class="col-md col-sm-12 order-1 order-sm-0"
          *ngIf="caseStudy.sections[6].pictures[0].url !== ''"
        >
          <img
            class="img-fluid"
            src="{{ caseStudy.sections[6].pictures[0].url }}"
            alt="{{ caseStudy.sections[6].pictures[0].description }}"
          />
        </div>
        <div class="col-md col-sm-12 order-0 order-sm-1">
          <h2>Site map</h2>
          <p>
            {{ caseStudy.sections[6].description }}
          </p>
        </div>
      </section>

      <section id="usability-study" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>Usability Study</h2>
              <p>
                {{ caseStudy.sections[7].description }}
              </p>
            </div>
          </div>
          <div class="row" style="padding-top: 4em">
            <div
              class="col-md-6 col-sm-12"
              *ngFor="let insight of caseStudy.insights"
            >
              <div class="row">
                <div class="col-4 text-center">
                  <i class="{{ insight.icon }} fa-5x"></i>
                </div>
                <div class="col-8">
                  <h5>{{ insight.title }}</h5>
                  <p>
                    {{ insight.description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="mockups" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>Mockups</h2>
              <p>
                {{ caseStudy.sections[8].description }}
              </p>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let picture of caseStudy.sections[8].pictures"
          >
            <div class="col text-center">
              <img
                class="img-fluid"
                src="{{ picture.url }}"
                alt="{{ picture.description }}"
              />
            </div>
          </div>
        </div>
      </section>
      <section id="hi-prototype" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>High-fidelity prototype</h2>
              <p>
                {{ caseStudy.sections[9].description }}
              </p>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let picture of caseStudy.sections[9].pictures"
          >
            <div class="col text-center">
              <img
                class="img-fluid"
                src="{{ picture.url }}"
                alt="{{ picture.description }}"
              />
            </div>
          </div>
        </div>
      </section>
      <section id="style-guide" class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <h2>Style guide</h2>
              <p>
                {{ caseStudy.sections[10].description }}
              </p>
            </div>
          </div>
          <div
            class="row"
            *ngFor="let picture of caseStudy.sections[10].pictures"
          >
            <div class="col text-center">
              <img
                class="img-fluid"
                src="{{ picture.url }}"
                alt="{{ picture.description }}"
              />
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
