

@import '../colors.scss';

.intro{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-white;
}

.content {
  height: 100vh;
  background-color: $color-green;
  background-image: url("/assets/img/intro.jpg");
  background-size: cover;
}

:host .nav li a {
  color: $color-white!important;
}

h1{
  color: $color-white!important;
}

a.navlink {
  color: $color-white!important;
}

