@import '../../colors.scss';

.background {
  min-height: 100vh;
  background-color: $color-green;
  background-image: url("/assets/img/intro.jpg");
  background-size: cover;
}

:host .nav li a {
  color: $color-white!important;
}

h1{
  color: $color-white!important;
}


h3{
  color: $color-md-gray!important;
}

a.navlink {
  color: $color-white!important;
}



.language {
  padding:6em 0 3em 0;

  .btn {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: $color-white;
  }
  .btn:focus,.btn:active {
    outline: none;
    box-shadow: none ;
    border-bottom: 1.5px solid white;
    border-radius: 0;
  }

}

