<div [@fadeAnimation]="animation ? '' : ''" class="content">
  <div class="container w-75">
    <div class="row intro">
      <div class="col-md-9 col-12">
        <h1>
          {{ "home.greet" | translate }} <br>  {{ "home.presentation" | translate }}
        </h1>
        <h3>{{ "home.subtitle" | translate }}</h3>
        <p>
          {{ "home.description" | translate }}
        </p>

        <a class="navlink" [routerLink]="['about']">
          {{ "nav.about" | translate }} &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
