

<div [@fadeAnimation]="animation ? '' : ''" class="content">
  <div class="container w-75">
    <div class="row intro">
      <div class="col-md-9 col-12">
        <h1>Hi!<br> I'm Itzel.</h1>
        <h3>A software developer<br>based in Mexico</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi felis
          augue, porttitor nec sem quis, sagittis euismod augue.
        </p>


        <a class="navlink" href="about">
          About me &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>


    </div>
  </div>
</div>
